@model MvcMovie.Models.Rating

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit">

    <input type="hidden" asp-for="RatingID" />

    <label asp-for="Code">@Html.DisplayNameFor(model => model.Code)</label>
    <input asp-for="Code" /> <br />

    <label asp-for="Name">@Html.DisplayNameFor(model => model.Name)</label>
    <input asp-for="Name" /> <br />

    <input type="submit" value="Save" />
</form>

<br />

<div>
    <a asp-action="List">Back to List</a>
</div>
