<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"] - Mvc Movie</title>
</head>
<body>
    <h1>Mvc Movie - @ViewData["Title"]</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>