@{
    ViewData["Title"] = "Main Menu";
}

<h2>Applying the repository pattern</h2>

<a asp-controller="Ratings" asp-action="List">All Ratings</a>
<br />
<a asp-controller="Movies" asp-action="List">All Movies</a>
<br />